@import 'root.scss',
'reset.scss';

//字體
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap&text=$%0123456789');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body {
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
  background-color: var(--background);
  color: var(--brand-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

// 輸入窗預設
textarea {
  padding: 0;
  resize: none;
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
}

// 輸入框預設 
input,
select {
  padding: 6px;
  margin: 5px 0;
  border: 1px solid var(--brand-color);
  border-radius: 5px;
  background-color: var(--background);
  color: var(--normal-color);
}

//預設捲軸
.scrollbar {

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #C1C1C1;
  }
}

.width-end {
  width: 100%;
}

// display
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex-evenly-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.d-flex-around-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.d-flex-evenly-column-normal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.d-flex-center-j {
  display: flex;
  justify-content: center;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.form-row {
  margin-bottom: 24px;

  >label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
  }
}

// 共同樣式
.view-container {
  margin: 80px auto 25px auto;
  width: 85%;
  height: 100%;
  min-height: calc(100vh - 100px);
}

// 首頁title. 單一分頁detail
.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background: var(--background);
  grid-gap: 1.5rem;
}

// 共同陰影樣式
.shadow {
  -webkit-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
}

.icon {
  height: 30px;
  width: 30px;
  background-color: var(--background-icon);
  border-radius: 50%;
  padding: 4px;
}

.cursor {
  cursor: pointer;
}

.btn {
  height: 40px;
  width: 150px;
  border: 1px solid var(--brand-color);
  border-radius: 10px;
  background-color: var(--background-btn-color);
  color: var(--description-color);
}